// sass-lint:disable no-important

// Visibility
@each $bp in map-keys($grid-breakpoints) {
	.hidden-#{$bp}-up {
		@media (min-width: map-get($grid-breakpoints, $bp)) {
			display: none !important;
		}
	}

	.visible-#{$bp}-up {
		$bp_max: map-get($grid-breakpoints, $bp) - 1;
		@media (max-width: $bp_max) {
			display: none !important;
		}
	}
}

.d-none {
	display: none !important;
}

// Text alignment
.text-justify  { text-align: justify !important; }
.text-wrap     { white-space: normal !important; }
.text-nowrap   { white-space: nowrap !important; }

.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }

// Responsive alignment
@each $bp in map-keys($grid-breakpoints) {
	@media (min-width: map-get($grid-breakpoints, $bp)) {
		.text-#{$bp}-left   { text-align: left !important; }
		.text-#{$bp}-right  { text-align: right !important; }
		.text-#{$bp}-center { text-align: center !important; }
	}
}

// Text transformation
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Colors
$color-array: (
				primary: $primary,
				secondary: $secondary,
				white: $w,
				black: $b,
				grey: $grey,
);
@each $color-name, $color-value in $color-array {
	#{'.bg-' + $color-name} {
		background-color: $color-value !important;
	}
	#{'.color-' + $color-name} {
		color: $color-value !important;
	}
}

.overflow-hidden {
	overflow: hidden !important;
}

.disabled {
	pointer-events: none !important;
}

.d-flex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

//Font weight
.fw-100 {
	font-weight: 100;
}

.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: normal;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}

//text size
.text-v-sm {
	font-size: 12px;
}

.text-sm {
	font-size: 14px;
}

.text-md {
	font-size: 18px;
}

.text-lg {
	font-size: 20px;
}